#my-canvas {
  background-color: lightgray;
}

#start-btn, #restart-btn {
  background-color: #079f14;
  color: white;
  padding: 20px;
  font-size: 20px;
  margin-top: 40px
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}